*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "buttermilk";
    src: url("./Buttermilk.woff2");
}

html,body{
    height: 100%;
    width: 100%;
}

#bg{
    height: 100%;
    width: 100%;
    background-image: url(./bg.webp);
    background-size: cover;
    background-position: center;
    /* position: relative; */
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 11vw;
    font-weight: 500;
    font-family: buttermilk;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
    color: white;
}